body {
  margin: 0
  background-color: silver;
}

.title{
  padding-top: 5rem;
  text-align: center;
  background-color: yellow;
}

.title img {
  width: 50%;
  padding-top: 1vw;
  padding-bottom: 9vw;


}


#top-bar {
  position: fixed;
  top: 0;
  left: 10;
  width: 100%;
  background-color: silver;
  font-family: sans-serif;
  font-size: 16pt;
  text-align: center;

}

#top-bar ul {
  list-style-type: none;
  display: flex;
  color: #00000E;

}

#top-bar ul li {
  flex: auto;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  font-size: 22pt;
  text-align: center;

}

p {
  font-family: sans-serif;
  color: black;
  font-size: 18pt;
  text-align: center;

}

#sorting {
  font-family: sans-serif;
  font-size: 16pt;
  color: gray;
  list-style: initial;
  background-color: silver;
}

.row {
  /* padding: 0 4px; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  /* width: 90%; */
  /* margin-top: 1em; */
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.column{
  display: flex;
  flex: 100%;
  max-width: 100%;
  flex-direction: row;
  /* padding: 1em 0px */
}

.column a {
  /* flex: 1; */
  background-color: #afeeee;
  border-style: ridge;
  border-width: thick;
  border-color: silver;
  display: inline-grid;
  width: 100%;
  margin: 0;
  /* width: 28.3vw; */
}

.column img{
  /* margin-top: 8px; */
  /* vertical-align: middle; */
  width: 100%;
}

ul {
  list-style:none;
  display:inline-block;
}

.card {
  background: #E7FDFD;
  display: inline-grid;
  width: 100%;
  margin: 0;
  justify-content: center;

}

.card h1 {
  background: white;
  padding: 2em;
  width: 35%;
  height: 5%;
  text-align: center;
  border-style: solid;
  border-width: thick;
  border-weight: 4pt;
  border-color: silver;
  font-family: sans-serif;
}

.card img {
  background: white;
  padding-bottom: 2em;
  border-style: solid;
  border-width: thick;
  border-weight: 4pt;
  border-color: silver;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.cards {
  background: #E7FDFD;
  display: inline-grid;
  width: 100%;
  margin: 0;
  justify-content: center;

}

.cards h1 {
  background: white;
  padding: 2em;
  width: 35%;
  height: 5%;
  justify-content: center;
  text-align: left;
  border-style: solid;
  border-width: thick;
  border-weight: 4pt;
  border-color: silver;
  font-family: sans-serif;
}
.cards img {
  background: white;
  padding-bottom: 2em;
  border-style: solid;
  border-width: thick;
  border-weight: 4pt;
  border-color: silver;
  width: 200px;
  height: 200px;
  background-size: cover;
}
